# 1. ルート階層にある . (ドット) 始まりではないフォルダやファイルをすべて無視
/*

# 2. ルート階層にある . (ドット) 始まりのフォルダやファイルをすべて無視
#    (例: .cache, .local, .ssh など)
/.*

# 3. 例外として、.config フォルダを追跡対象にする
!/.config

# 4. 例外として、.gitignore ファイル自身も追跡対象にする
!/.gitignore
