.disk-widget {
  padding: 0 6px 0 6px;
}

.disk-group {
  background-color: var(--bg-color1-light);
}

.disk-group-row {
  min-width: 220px;
  max-width: 220px;
  max-height: 40px;
  margin: 0;
  padding: 0;
  border-radius: 6px;
  border: 1px solid var(--bg-color2-light);
}

.disk-group-row:hover {
  background-color: var(--bg-color1-light);
  border: 1px solid var(--bg-color2-light);
}

.disk-group-label-bar {
  max-height: 8px;
  border: 0px solid var(--bg-color1-light);
  background-color: var(--bg-color2-light);
  border-radius: 4px;
}

.disk-group-label-bar::chunk {
  background-color: rgba(61, 135, 255, 0.3);
  border-radius: 4px;
}

.disk-group-label {
  font-size: 10px;
}

.disk-group-label-size {
  font-size: 10px;
  color: var(--text1-light);
}

/* DARK MODE */

.dark .disk-group-row {
  border: 1px solid var(--bg-color2-dark);
}

.dark .disk-group {
  background-color: var(--bg-color1-dark);
}

.dark .disk-group-row:hover {
  background-color: var(--bg-color1-dark);
  border: 1px solid var(--bg-color2-dark);
}

.dark .disk-group-label-bar {
  border: 0px solid var(--bg-color1-dark);
  background-color: var(--bg-color2-dark);
}

.dark .disk-group-label-size {
  font-size: 10px;
  color: var(--text1-dark);
}
